[submodule "email-wallet"]
	path = email-wallet
	url = https://github.com/zkemail/email-wallet
[submodule "email-wallet/packages/contracts/lib/forge-std"]
	path = email-wallet/packages/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
